#page_nav {
  padding-bottom: 25px;
  width: inherit;
  align-content: center;
  font-family: inherit;
}

#page_nav ul {list-style-type: none; padding: 0;}
#page_nav ul li {display:inline-block;}

#page_nav ul li a {display: block;text-decoration: none; padding-left: 0.25em; padding-right: 0.25em; border: medium solid #582f2f; font-family: myFirstFont;
    font-weight: bold; font-size: larger;
}
#page_nav ul li a:link {display: block; background-color: white}
#page_nav ul li a:visited {display: block;
/*    display: block; */
    text-decoration: underline; color: #bd7d7d;
/*    text-decoration-line: underline; text-decoration-style: solid; text-decoration-color: #bd7d7d;*/
}
#page_nav ul li a:hover {display: block; border: medium solid #582f2f; background-color: #bd7d7d; color: #582f2f;}
#page_nav ul li a:active {display: block;}

#page_nav ul li#iamhere a,
#page_nav ul li#iamhere a:link,
#page_nav ul li#iamhere a:visited,
#page_nav ul li#iamhere a:hover { color: #582f2f; background-color: #bd7d7d; border: thin solid #582f2f;}

/* I added markup below to keep page from moving */
/* right or left when scroll bar was removed or added, respectively */
html {overflow-y: scroll;}